@use "sass:math";

$ds-grid-columns: 12;

.ds-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $general-size-s;
    box-sizing: border-box;
}

.ds-row {
    display: flex;
    flex-flow: row wrap;
}

@include set-from-screen('s') {
    @for $i from 1 through $ds-grid-columns {
        .col-#{$i}-s {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100%, $ds-grid-columns);
        }
    }
}