// design color
$primary: #cdbba7;
$secondary: #f4dfd0;
$tertiary: #fdefef;
$error: #f73131;
$notification: #5eb7e7;
$tag: #e570a3;

// font size
$font-s: 1rem;
$font-m: 2rem;
$font-l: 3rem;
$font-xl: 4rem;
$font-xxl: 5rem;

$general-size-xxs: 12px;
$general-size-xs: 16px;
$general-size-s: 20px;
$general-size-m: 28px;
$general-size-l: 32px;
$general-size-xl: 36px;
$general-size-xxl: 40px;
